alembic==1.9.4
Authlib==1.2.0
black==23.1.0
factory-boy==3.2.1
Faker==17.3.0
fastapi==0.92.0
flake8==6.0.0
httpx==0.23.3
itsdangerous==2.1.2
psycopg2==2.9.5
pydantic==1.10.5
pytest==7.2.1
pytest-cov==4.0.0
SQLAlchemy==2.0.4
SQLAlchemy-Utils==0.40.0
starlette==0.25.0
uvicorn==0.20.0
